RAILS_MASTER_KEY=dummy
DATABASE_URL=postgresql://development:development@localhost:5432/pr_rolls_development
APP_HOST=example.com
SMTP_FROM=example.com
SMTP_DOMAIN=example.com
SMTP_USERNAME=dummy
SMTP_PASSWORD=dummy
SMTP_ADDRESS=dummy
SMTP_PORT=dummy
