<div class="modal-container" data-controller="modal">
  <div class="modal-content">
    <button type="button" data-action="modal#close" class="modal-close-button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" style="width:32px;height:32px" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/></svg>
    </button>
    <h2 class="modal-subtitle">Форма обратной связи</h2>
    <p class="modal-title">Спасибо!<br>Мы свяжемся с вами<br><span class="modal-title-highlight">в ближайшее время</span></p>
  </div>
</div>
