.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.about-item {
  display: flex;
  flex-direction: column;
  gap: 50px;

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 2;
    color: #606060;
  }
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }

  .about-item {
    p { font-size: 14px; }
  }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }

  .about-item {
    p { font-size: 14px; }
  }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }

  .about-item {
    p { font-size: 16px; }
  }
}
