.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.about-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }
}
