/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset */

body {
  position: relative;
  background: url('main.webp') center/cover no-repeat fixed;
  font-family: 'Inter', sans-serif;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40); /* Степень затемнения (0.35 = 35%) */
  pointer-events: none; /* чтобы клики по элементам работали */
  z-index: -1; /* чтобы затемнение было за контентом */
}

/* Nav */
.nav__container {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.nav__item__one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 200px;
  height: 72px;
  background-color: white;
  border-radius: 14px;
}
.nav__item__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  width: 100%;
  height: 72px;
  background-color: white;
  border-radius: 14px;
}
.nav__item__three {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  height: 72px;
  min-width: 200px;
  background-color: white;
  border-radius: 14px;
}
.nav__text {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
/* Nav */
