.contacts-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-item {
  display: flex;
  flex-direction: column;

  a {
    color: var(--primary-green);
    width: fit-content;
    transition: color 0.3s ease;
    &:hover {
      color: var(--secondary-green);
    }
  }
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .contacts-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

