.cookie-banner-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  align-items: center;
  border-top-left-radius: 14px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);

  &.text { line-height: 1.2; }
  a {
    color: var(--primary-green);
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: var(--secondary-green);
    }
  }

  button {
    font-size: 20px;
    font-weight: 700;
    min-width: 180px;
    height: fit-content;
    text-align: center;
    color: #fff;
    padding: 16px 0;
    border-radius: 14px;
    transition: all 0.3s ease;
  }
}

.cookie-banner-accept-button {
  background-color: var(--primary-green);

  &:hover {
    background-color: var(--secondary-green);
  }
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .cookie-banner-container {
    border-top-right-radius: 14px;
    padding: 40px;
    gap: 20px;
    flex-direction: column;

    button {
      font-size: 14px;
      padding: 12px 0;
      min-width: 100%;
    }
  }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .cookie-banner-container {
    border-top-right-radius: 14px;
    padding: 40px;
    gap: 20px;
    flex-direction: column;

    button {
      font-size: 14px;
      min-width: 100%;
      padding: 12px 0;
    }
  }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .cookie-banner-container {
    padding: 40px;

    button { font-size: 16px; }
  }
}

/* Ноутбуки */
@media (min-width: 993px) and (max-width: 1400px) {
  .cookie-banner-container {
    padding: 45px;

    button { font-size: 18px; }
  }
}
