.equipment-types-container {
  padding: 50px 0;
  background-color: black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .equipment-types-container { padding-top: 1px; }
}
