.equipment-container {
  padding: 50px 0;
  background-color: black;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .equipment-container { padding-top: 1px; }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .equipment-container { padding-top: 10px; }
}
