.feedback-request-form {
  border-radius: 14px;
  padding: 50px;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}

.feedback-request-form input {
  height: 40px;
  padding: 0;
  color: var(--gray);
  border: none;
  border-bottom: 2px solid black;
  font-size: 18px;
  caret-color: var(--primary-green);
  outline: none;

  &::placeholder {
    font-size: 18px;
    color: var(--gray);
  }
}

.feedback-request-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.feedback-request-subtitle {
  font-size: 36px;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 20px;
}

.feedback-request-form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.feedback-request-form-input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.error {
    input {
      &::placeholder {
        color: var(--red);
      }
    }
  }
}

.feedback-request-form-input-error {
  color: var(--red);
  font-size: 18px;
}

.feedback-request-form-consent {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--gray);
}

.feedback-request-form-consent input {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 0px;
  outline: none;
  accent-color: var(--primary-green);
  cursor: pointer;
}

.feedback-request-form-consent a {
  text-decoration: underline;
  color: var(--gray);
}

.feedback-request-form button {
  color: white;
  padding: 20px 0;
  background-color: var(--primary-green);
  border-radius: 14px;
  font-size: 24px;
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--secondary-green);
  }
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .feedback-request-form-consent { font-size: 14px; }
  .feedback-request-form {
    padding: 20px;
    margin-bottom: 50px;
  }
  .feedback-request-form button { font-size: 16px; }
  .feedback-request-form-input-error { font-size: 14px; }
  .feedback-request-subtitle {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .feedback-request-form-inputs-container { gap: 20px; }
  .feedback-request-form input {
    font-size: 14px;
    &::placeholder { font-size: 14px; }
  }
  .feedback-request-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .feedback-request-form-consent input {
    width: 20px;
    height: 20px;
  }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .feedback-request-form button {font-size: 18px; }
  .feedback-request-title { font-size: 24px; }
  .feedback-request-form-input-error { font-size: 16px; }
  .feedback-request-subtitle { font-size: 16px; }
  .feedback-request-form input {
    font-size: 16px;
    &::placeholder { font-size: 16px; }
  }
  .feedback-request-form { margin-bottom: 60px; }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .feedback-request-form button { font-size: 20px; }
  .feedback-request-title { font-size: 36px; }
  .feedback-request-subtitle { font-size: 24px; }
  .feedback-request-form { margin-bottom: 80px; }
}

/* Ноутбуки */
@media (min-width: 993px) and (max-width: 1400px) {
  .feedback-request-form button { font-size: 24px; }
  .feedback-request-title { font-size: 36px; }
  .feedback-request-subtitle { font-size: 24px; }
}
