.footer-container {
  background-color: black;
  padding: 50px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    transition: color 0.3s ease;
    &:hover {
      color: var(--primary-green);
    }
  }
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 20px;
  }
}
