:root {
  --primary-green: #1C9080;
  --secondary-green: #65BFB5;
}

.hover-effect {
  transition: background-color 0.3s, color 0.3s ease;
  cursor: pointer;
}

.hidden {
  display: none;
}

.title {
  font-size: 74px;
  font-weight: 500;
  margin: 150px 0 100px 0;
}

.main-container {
  margin: 0 100px 0 100px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .main-container {
    margin: 0 10px 0 10px;
  }

  .title {
    font-size: 46px;
    margin: 100px 0 50px 0;
  }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .main-container {
    margin: 0 20px 0 20px;
  }

  .title {
    font-size: 52px;
    margin: 100px 0 50px 0;
  }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .main-container {
    margin: 0 30px 0 30px;
  }

  .title {
    font-size: 52px;
    margin: 100px 0 50px 0;
  }
}

/* Стандартные десктопы */
@media (min-width: 993px) and (max-width: 1440px) {
  .title {
    font-size: 60px;
    margin: 150px 0 100px 0;
  }
}

