:root {
  --primary-green: #1C9080;
  --secondary-green: #65BFB5;
}

.hidden { display: none; }

.hover-effect {
  transition: background-color 0.3s, color 0.3s ease;
  cursor: pointer;
}

.title {
  font-size: 64px;
  font-weight: 500;
  margin: 100px 0 100px 0;

  &.white { color: white; }
}

.subtitle {
  font-size: 40px;
  font-weight: 600;
  margin: 100px 0 50px 0;

  &.white { color: white; }
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70vh;
  max-height: 1500px;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 25px 0;

  &.white { background-color: white; }
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 2;

  &.white { color: white; }
}

.list {
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
  list-style: none;
  padding: 0;
  margin: 0;

  &.white { color: white; }
}

.main-container {
  margin: 0 100px;
  max-width: 1720px;
}

@media (min-width: 1721px) {
  .main-container { margin: 0 auto; }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .main-container { margin: 0 10px 0 10px; }

  .title {
    font-size: 32px;
    margin: 60px 0 30px 0;
  }

  .subtitle {
    font-size: 20px;
    margin: 60px 0 30px 0;
  }

  .description, .list  { font-size: 14px; }
  .image { max-height: 200px; }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .main-container { margin: 0 20px 0 20px; }

  .title {
    font-size: 40px;
    margin: 100px 0 50px 0;
  }

  .subtitle { font-size: 24px }
  .description, .list { font-size: 14px; }
  .image { max-height: 350px; }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .main-container { margin: 0 30px 0 30px; }

  .title {
    font-size: 40px;
    margin: 100px 0 50px 0;
  }

  .subtitle {
    font-size: 32px;
    margin: 50px 0 50px 0;
  }

  .description, .list { font-size: 16px; }
  .image { max-height: 650px; }
}
