.header-desktop-container {
  display: flex;
  position: sticky;
  width: 100%;
  top: 8px;
  z-index: 100;
  gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.header-block {
  background-color: var(--light-gray);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  border-radius: 14px;
}

.header-desktop-logo-container {
  min-width: 70px;
  width: 25%;
}

.header-desktop-nav-container {
  gap: 50px;
  min-width: 380px;
  width: 70%;
}

.header-desktop-contacts-container {
  gap: 10px;
  min-width: 100px;
  max-width: 559px;
  width: 50%;
}

.header-desktop-logo-with-text { display: inline; }
.header-desktop-logo-icon { display: none; }
.header-mobile-container { display: none; }

.header-mobile-dropdown-menu {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 100vw;
  padding: 18px 38px;
  background-color: var(--light-gray);
  border-radius: 0 0 14px 14px;
  z-index: 50;
  line-height: 2;
}

.header-mobile-dropdown-menu a {
  display: block;
  font-size: 20px;
}

.header-mobile-dropdown-menu-close-button {
  display: flex;
  justify-content: end;
  width: 100%;
}

.header-mobile-dropdown-menu-open-button {
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  transition: color 0.3s ease;

  &:hover { color: var(--primary-green); }
}

.header-contact-link:hover svg path {
  fill: var(--secondary-green);
  transition: fill 0.3s ease;
}

.header-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .header-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-left: 8px;
    margin-right: 8px;
    position: sticky;
    top: 8px;
    z-index: 100;
    gap: 8px;
    width: calc(100% - 16px);
    height: 72px;
    background-color: var(--light-gray);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.20);
    border-radius: 14px;
  }

  .header-desktop-container { display: none; }
  .header-text { font-size: 20px; }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .header-contact-link.phone { display: none; }
  .header-desktop-logo-with-text { display: none; }
  .header-desktop-logo-icon { display: inline; }
  .header-desktop-nav-container { gap: 8px; }
  .header-desktop-contacts-container { width: 20%; }
  .header-text { font-size: 20px; }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .header-contact-link.telegram { display: none; }
  .header-contact-link.whatsapp { display: none; }
  .header-desktop-logo-with-text { display: none; }
  .header-desktop-logo-icon { display: inline; }
  .header-desktop-nav-container { gap: 20px; }
  .header-text { font-size: 20px; }
}

/* Ноутбуки */
@media (min-width: 993px) and (max-width: 1400px) {
  .header-text { font-size: 22px; }
}
