.header-desktop-container {
  display: flex;
  position: sticky;
  width: 100%;
  top: 8px;
  z-index: 100;
  gap: 8px;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background-color: #fff;
  border-radius: 14px;
}

.header-desktop-logo-container {
  min-width: 70px;
  width: 25%;
}

.header-desktop-nav-container {
  gap: 50px;
  min-width: 380px;
  width: 70%;
}

.header-desktop-contacts-container {
  gap: 10px;
  min-width: 100px;
  max-width: 559px;
  width: 50%;
}

.header-desktop-logo-with-text { display: inline; }
.header-desktop-logo-icon { display: none; }

.header-mobile-dropdown-menu {
  position: absolute;
  right: 0;
  top: -8px;
  line-height: 1.5;
  width: 100vw;
  padding: 16px 52px;
  background-color: white;
  border-radius: 0 0 14px 14px;
  z-index: 50;
}

.header-mobile-dropdown-menu a {
  display: block;
  font-size: 20px;
}

.header-mobile-dropdown-menu-close-button {
  display: flex;
  justify-content: end;
  width: 100%;
}

.header-mobile-container { display: none; }

.header-text {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  transition: color 0.3s ease;

  &:hover { color: var(--primary-green); }
}

.header-contact-link:hover svg path {
  fill: #65BFB5;
  transition: fill 0.3s ease;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .header-mobile-container {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    position: sticky;
    top: 8px;
    z-index: 100;
    gap: 8px;
    width: 100%;
    align-items: center;
    height: 72px;
    background-color: white;
    border-radius: 14px;
  }

  .header-desktop-container { display: none; }
  .header-text { font-size: 20px; }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .header-contact-link.telegram { display: inline; }
  .header-contact-link.whatsapp { display: inline; }
  .header-contact-link.phone { display: none; }
  .header-desktop-logo-with-text { display: none; }
  .header-desktop-logo-icon { display: inline; }
  .header-desktop-nav-container { gap: 8px; }
  .header-desktop-contacts-container { width: 20%; }
  .header-text { font-size: 20px; }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .header-contact-link.telegram { display: none; }
  .header-contact-link.whatsapp { display: none; }
  .header-desktop-logo-with-text { display: none; }
  .header-desktop-logo-icon { display: inline; }
  .header-desktop-nav-container { gap: 20px; }
  .header-text { font-size: 20px; }
}
