.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.6s ease;

  &.visible {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 14px;
  padding: 30px;
  width: 100%;
  max-width: 450px;
}

.modal-subtitle {
  font-size: 24px;
  color: var(--gray);
  margin-bottom: 20px;
}

.modal-title {
  font-size: 36px;
  line-height: 1.2;
}

.modal-title-highlight { color: var(--primary-green); }

.modal-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .modal-content { max-width: 250px; }
  .modal-subtitle { font-size: 14px; }
  .modal-title { font-size: 18px; }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .modal-content { max-width: 320px; }
  .modal-subtitle { font-size: 18px; }
  .modal-title { font-size: 24px; }
}
