.welcome-container {
  margin-top: -72px;
  width: 100%;
  height: 100vh;
  min-height: 100dvh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),
    url('main.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-title {
  padding: 450px 50px 0 50px;
  font-size: 74px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .welcome-title {
    padding: 250px 5px 0 5px;
    font-size: 40px;
  }
}

/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .welcome-title {
    font-size: 52px;
    padding: 350px 30px 0 30px;
  }
}

/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .welcome-title {
    font-size: 64px;
  }
}

/* Стандартные десктопы */
@media (min-width: 993px) and (max-width: 1440px) {
}
